APPLE_ID=
ENV=test
ITC_TEAM_ID=
TEAM_ID=

AgoraAppId=
ApiClientServerUrl=http://localhost
AwsBedrockSituationExtractionPromptId=
AwsBedrockHistoryExtractionPromptId=
AwsBedrockMedicationExtractionPromptId=
AwsBedrockProcedureExtractionPromptId=
GoogleMapsSdkApiKey=
RollbarEnvironment=test
RollbarPostClientItemAccessToken=
